@tailwind base;
@tailwind components;

@layer components {
  .btn {
    @apply w-full py-[12px] px-[24px] bg-slate-950 text-white rounded-[12px];
  }

  .label {
    @apply text-[16px] leading-[26px] font-[500] text-[#071133];
  }

  .errorMessage {
    @apply text-red-500 text-sm;
  }
  .center {
    @apply flex items-center justify-center;
  }
}

@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .inputPrimary {
    @apply outline-none px-[20px] py-0 h-[50px] rounded-[15px] border-[1px] border-[#e2e8f0] text-black w-full;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .combined {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.241);
    color: rgba(255, 255, 255, 0);
    font-size: 15.5vw;
    font-weight: 600;
    cursor: default;
    line-height: 80%;
    width: max-content;
  }
  .bg {
    background: #17181f;
  }

  .right {
    margin-left: auto;
  }

  .card_one {
    animation: animate 1.5s ease-in-out infinite alternate;
  }
  .card_two {
    animation: animate 2s ease-in-out infinite alternate;
  }
  .card_three {
    animation: animate 1.4s ease-in-out infinite alternate;
  }
  .card_four {
    animation: animate 1.7s ease-in-out infinite alternate;
  }
  .card_five {
    animation: animate 2.5s ease-in-out infinite alternate;
  }
  .card_six {
    animation: animate 2s ease-in-out infinite alternate;
  }

  @keyframes animate {
    to {
      transform: translateX(-20px);
    }
  }

  .rounded-none.border-b.border-metal-100 {
    padding: 20px !important;
  }
}
